.home {
    position: relative;
    height: 92.5vh;    
    background: linear-gradient(to left bottom, rgb(162, 205, 245), rgb(59, 137, 253));
}
.home__header {
    position: relative;
    top:40%;
    left:50%;    
    transform: translate(-50%, -50%);
    text-align: center;        
}
.home__header--primary{
    color: white;
    text-transform: uppercase;        
    font-size: 3rem; 
    font-weight: 100;   
    letter-spacing: .1rem;  
    margin-left: -70px;  
}
.first{
    position: absolute;
    top: -55px;    
    color: white;
    text-transform: uppercase;    
    margin: 0rem;
    font-size: 6rem; 
    font-weight: 100;   
    letter-spacing: .7rem;
    transform: rotate(-20deg);
}
.second{
    position: relative;
    top: 0px;
    left: 75px;
    color: white;
    text-transform: uppercase;    
    margin: 0rem;
    font-size: 3rem; 
    font-weight: 100;   
    
}
.home__header--secondary{
    color: white;    
    margin: 0rem;
    font-size: 1.5rem; 
    font-weight: 100;   
    
}

@media screen and (max-width: 375px){
    
    .home__header--primary{
        color: white;
        text-transform: uppercase;        
        font-size: 2rem; 
        font-weight: 100;   
        letter-spacing: .1rem;  
        margin-left: -70px;  
    }
   
}

