.section-login{
    position: relative;
    height: 100vh;
    background: linear-gradient(to left bottom, rgb(65, 67, 68), rgb(7, 8, 8));
}

.popup {         
    position: relative;
    top:25%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 50%)       
}

.home__header--primary{
    color: white;
    text-transform: uppercase;        
    font-size: 3rem; 
    font-weight: 100;   
    letter-spacing: .1rem;  
    margin-left: -70px;  
}
@media screen and (max-width: 375px){
    
    .home__header--primary{
        color: white;
        text-transform: uppercase;        
        font-size: 2rem; 
        font-weight: 100;   
        letter-spacing: .1rem;  
        margin-left: -70px;  
    }
   
}
.first{
    position: absolute;
    top: -55px;    
    color: white;
    text-transform: uppercase;    
    margin: 0rem;
    font-size: 6rem; 
    font-weight: 100;   
    letter-spacing: .7rem;
    transform: rotate(-20deg);
}
.second{
    position: relative;
    top: 0px;
    left: 75px;
    color: white;
    text-transform: uppercase;    
    margin: 0rem;
    font-size: 3rem; 
    font-weight: 100;   
    
}

.btn-login {
    background-color: rgb(252, 53, 26);
    color: white;
    padding: .8rem 5rem;
    border-radius: 5rem;
    transition: all 0.2s;
    /* position: relative; */
    font-size: 20px;
    border: none;
}

.btn-login:hover{
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(black,.2);
}

.text{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; 
   -webkit-box-orient: vertical;
}

