.login-btn {
    font-size: 50px;
    margin-top: 4px;
    margin-right: 15px;
    color: gray;
    transition: all .5s;
}
.login-btn:hover {
    cursor: pointer;
    color: rgb(32, 129, 240);
    transform: rotate(360deg) scale(1.3);
}
.logout-btn {
    font-size: 40px;
    margin-top: 4px;
    color:rgb(240, 32, 60);
    transition: all .5s;
}
.logout-btn:hover {
    cursor: pointer;
    color: rgb(240, 32, 60);
    transform: rotate(360deg) scale(1.1);
}